body {
    margin: 0;
    padding: 0;
    
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main {
    margin-top: 6rem;
    margin-bottom: 5rem;
}

.card {
    height: 100%;
}

.nav {
    --bs-bg-opacity: 0.9 
}

.col-sm-3 {
    width: 250px;
    height: auto;
    --bs-bg-opacity: 0.9
}  

.dropdown-item:hover {
    background-color: rgba(30, 30, 30, 0.317);
}    

.footer {
    --bs-bg-opacity: 0.9
}
