body {
    margin: 0;
    padding: 0;
    
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.card {
    height: 100%;
}

.nav {
    --bs-bg-opacity: 0.9 
}
.col-sm {
    width: 250px;
    height: auto;
    --bs-bg-opacity: 0.9
}

.col-sm-6 {
    width: 250px;
    height: auto;
    --bs-bg-opacity: 0.9
}

.col-sm-3 {
    width: 250px;
    height: auto;
    --bs-bg-opacity: 0.9
}  

    

.footer {
    --bs-bg-opacity: 0.9
}
