body {
    margin: 0;
    padding: 0;
    
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    height: 100vh;
}

#qrcode {
    margin-top: 6rem;
    margin-left: 10rem;
}
 
#qrcode img{
    width: 20em;
    height: auto;
}
#qrcode:hover {
    transform: scale(1.1); 
    transition: 1s; 
}

@media screen (min-width: 600px) {
    main {
        margin : auto; 
    }
}