body {
    margin: 0;
    padding: 0;
    
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main {
    height: 100vh;
    
}

.nav {
    --bs-bg-opacity: 0.9 
}

.footer {
    --bs-bg-opacity: 0.9
}


#qrcode {
    margin-top: 6rem;
}
 
#qrcode img{
    width: 30em;
    height: auto;
}
#qrcode:hover {
    transform: scale(1.1); 
    transition: 1s; 
}


